* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}